<page-header [title]="'Gestión De Proyectos'"></page-header>

<mat-card class="demo-card" role="group">
  <mat-card-content *ngIf="usuario">
    <div class="customizer-handle">
      <button
        mat-fab
        (click)="agregarProyecto()"
        *ngIf="usuario.rol_id == 4 || usuario.rol_id == 3"
      >
        <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
      </button>
    </div>
    <div style="margin-top: 30px;">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th style="width: 100px;">Código</th>
            <th style="width: 200px;">Nombre</th>
            <th style="width: 200px;">Prog. Académico</th>
            <th style="width: 100px;">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of proyectos">
            <td style="text-align: center;">{{ proyecto.id }}</td>
            <td style="text-align: center;">{{ proyecto.nombre }}</td>
            <td style="text-align: center;">{{ proyecto.programa_academico.nombre }}</td>
            <td style="text-align: center;">
              <a
                (click)="modificarProyectoDialog(proyecto)"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>list</mat-icon>
              </a>
              <a
                (click)="EliminarProyectoDialog(proyecto)"
                *ngIf="usuario.rol_id == 4 || proyecto.responsables[0].usuario.id == usuario.id"
                style="color: red;"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #agregar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Registro de Proyecto</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="registrarProyecto" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName="nombre" required />
                    <mat-error *ngIf="registrarProyecto.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Programa académico</mat-label>
                    <input
                      matInput
                      placeholder="Programa académico"
                      formControlName="NombreProgramaDocente"
                      required
                    />
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Objetivo</mat-label>
                    <textarea
                      matInput
                      rows="2"
                      cols="40"
                      placeholder="objetivo"
                      formControlName="objetivo"
                      required
                    ></textarea>
                    <mat-error *ngIf="registrarProyecto.get('objetivo').invalid"
                      >Por favor ingresa el objetivo
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Descripción</mat-label>
                    <textarea
                      matInput
                      rows="2"
                      cols="40"
                      placeholder="Descripción"
                      formControlName="descripcion"
                      required
                    ></textarea>
                    <mat-error *ngIf="registrarProyecto.get('descripcion').invalid"
                      >Por favor ingresa la descripción
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Ejes</mat-label>
                    <mat-select
                      formControlName="selectEje"
                      [(ngModel)]="ejeSelected"
                      required
                      (selectionChange)="llenarLineas(eje)"
                    >
                      <mat-option disabled>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let eje of ejes" [value]="eje">{{
                        eje.nombre
                      }}</mat-option>
                    </mat-select>

                    <mat-error *ngIf="registrarProyecto.get('selectEje').invalid"
                      >Por favor selecciona el eje
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Líneas</mat-label>
                    <mat-select
                      formControlName="selectLinea"
                      [(ngModel)]="lineaSelected"
                      required
                      (selectionChange)="llenarProgramas()"
                    >
                      <mat-option disabled>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let linea of lineas" [value]="linea">{{
                        linea.nombre
                      }}</mat-option>
                    </mat-select>

                    <mat-error *ngIf="registrarProyecto.get('selectLinea').invalid"
                      >Por favor selecciona la línea
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Programas</mat-label>
                    <mat-select formControlName="selectPrograma" required multiple>
                      <mat-option disabled>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let programa of programas" [value]="programa.id">{{
                        programa.nombre
                      }}</mat-option>
                    </mat-select>

                    <mat-error *ngIf="registrarProyecto.get('selectPrograma').invalid"
                      >Por favor selecciona el programa
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="regisProyecto()"
                  [disabled]="cargar"
                >
                  Registrar
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #eliminar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Eliminar Proyecto</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas eliminar el proyecto {{ item.name }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminarProyecto()"
                [disabled]="cargar"
              >
                Eliminar
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
