<page-header [title]="'Gestión De Facultades'"></page-header>

<mat-card class="demo-card" role="group">
  <mat-card-content>
    <div class="customizer-handle">
      <button mat-fab (click)="agregarFacultad()">
        <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
      </button>
    </div>
    <div style="margin-top: 30px;  ">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th style="width: 130px;">Código</th>
            <th style="width: 210px;">Nombre</th>
            <th style="width: 130px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let facultad of facultades">
            <td style="text-align: center;">{{ facultad.codigo }}</td>
            <td style="text-align: center;">{{ facultad.nombre }}</td>
            <td style="text-align: center;">
              <a
                (click)="modificarFacultadDialog(facultad)"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>create</mat-icon>
              </a>
              <a (click)="EliminarFacultadDialog(facultad)" style="color: red;" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #agregar>
  <mat-dialog-content style="max-height: 70vh !important; min-width: 50vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Registrar Facultad</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="registrarFacultad" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100" style="width: 400px;">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Código</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      type="number"
                      placeholder="Código"
                      formControlName="codigo"
                      required
                      oninput="this.value = this.value.replace(/[^0-9]/g, '');if(this.value.length > 15) this.value = this.value.slice(0, 15);"
                      pattern="[0-9]*"
                    />
                    <mat-error *ngIf="registrarFacultad.get('codigo').invalid"
                      >Por favor ingresa el código
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombres</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      oninput="this.value = this.value.replace(/[^A-Z a-zñÑáéíóúÁÉÍÓÚÜ]+/g, '');;if(this.value.length > 50) this.value = this.value.slice(0, 50);"
                      required
                    />
                    <mat-error *ngIf="registrarFacultad.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="regisFacultad()"
                  [disabled]="cargar"
                >
                  Registrar
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #modificar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Modificar Facultad</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="modificarFacultad" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100" style="width: 400px;">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Código</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Código"
                      formControlName="codigo"
                      required
                    />
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      oninput="this.value = this.value.replace(/[^A-Z a-zñÑáéíóúÁÉÍÓÚÜ]+/g, '');;if(this.value.length > 50) this.value = this.value.slice(0, 50);"
                      required
                    />
                    <mat-error *ngIf="modificarFacultad.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="modifyFacultad()"
                  [disabled]="cargar"
                >
                  Guardar Cambios
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #eliminar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Eliminar Facultad</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas eliminar la facultad {{ item.nombre }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminarFacultad()"
                [disabled]="cargar"
              >
                Eliminar
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
