<page-header [title]="'Gestión De Usuarios'"></page-header>

<mat-card class="demo-card" role="group">
  <mat-card-content>
    <div class="customizer-handle">
      <button mat-fab (click)="agregarUsuario()">
        <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
      </button>
    </div>
    <div style="margin-top: 30px;  ">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Programa</th>
            <th>Contrato</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Usuario of Usuarios">
            <td style="text-align: center;">{{ Usuario.codigo }}</td>
            <td style="text-align: center;">{{ Usuario.name }} {{ Usuario.apellidos }}</td>
            <td style="text-align: center;">{{ Usuario.programa_academico.nombre }}</td>
            <td style="text-align: center;">{{ Usuario.contrato }}</td>
            <td style="text-align: center;">
              <a
                (click)="modificarUsuarioDialog(Usuario)"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>create</mat-icon> </a
              ><a
                (click)="EliminarUsuarioDialog(Usuario)"
                style="color: red;"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #agregar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Registro de Usuario</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="registrarUsuario" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Código</mat-label>
                    <input matInput placeholder="Código" formControlName="codigo" required />
                    <mat-error *ngIf="registrarUsuario.get('codigo').invalid"
                      >Por favor ingresa el código
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName="nombre" required />
                    <mat-error *ngIf="registrarUsuario.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Apellido</mat-label>
                    <input matInput placeholder="Nombre" formControlName="apellido" required />
                    <mat-error *ngIf="registrarUsuario.get('apellido').invalid"
                      >Por favor ingresa el apellido
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="text" formControlName="email" required />
                    <mat-error *ngIf="registrarUsuario.get('email').invalid">
                      {{ getErrorMessage(registrarUsuario) }}</mat-error
                    >
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Contrato</mat-label>
                    <mat-select [(value)]="prueba" formControlName="contrato" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option value="PLANTA">Planta</mat-option>
                      <mat-option value="CATEDRA">Catedra</mat-option>
                      <mat-option value="PRESTACION DE SERVICIOS"
                        >Prestacion de servicios
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registrarUsuario.get('contrato').invalid"
                      >Por favor selecciona el programa académico
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Programa académico</mat-label>
                    <mat-select formControlName="programa_academico_id" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option
                        *ngFor="let programa of programaAcademicos"
                        [value]="programa.id"
                        >{{ programa.nombre }}</mat-option
                      >
                    </mat-select>
                    <mat-error *ngIf="registrarUsuario.get('programa_academico_id').invalid"
                      >Por favor selecciona el programa académico
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="regisUsuario()"
                >
                  Registrar
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #modificar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Modificar Usuario</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="modificarUsuario" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Código</mat-label>
                    <input matInput placeholder="Código" formControlName="codigo" required />
                    <mat-error *ngIf="modificarUsuario.get('codigo').invalid"
                      >Por favor ingresa el código
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName="nombre" required />
                    <mat-error *ngIf="modificarUsuario.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Apellido</mat-label>
                    <input matInput placeholder="text" formControlName="apellido" required />
                    <mat-error *ngIf="modificarUsuario.get('apellido').invalid">
                      Por favor ingresa el apellido</mat-error
                    >
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="Correo" formControlName="email" required />
                    <mat-error *ngIf="modificarUsuario.get('email').invalid">
                      {{ getErrorMessage(modificarUsuario) }}</mat-error
                    >
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Contrato</mat-label>
                    <mat-select formControlName="contrato" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option value="PLANTA">Planta</mat-option>
                      <mat-option value="CATEDRA">Catedra</mat-option>
                      <mat-option value="PRESTACION DE SERVICIOS"
                        >Prestacion de servicios
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="modificarUsuario.get('contrato').invalid"
                      >Por favor selecciona el programa académico
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Programa académico</mat-label>
                    <mat-select formControlName="programa_academico_id" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option
                        *ngFor="let programa of programaAcademicos"
                        [value]="programa.id"
                        >{{ programa.nombre }}</mat-option
                      >
                    </mat-select>
                    <mat-error *ngIf="modificarUsuario.get('programa_academico_id').invalid"
                      >Por favor selecciona el programa Académico
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="modifiUsuario()"
                >
                  Guardar Cambios
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #eliminar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Eliminar Usuario</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas eliminar el Usuario {{ item.name }} {{ item.apellidos }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminarUsuario()"
              >
                Eliminar
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
