<page-header [title]="'Registrar Proyecto'"></page-header>

        <mat-dialog-content style="max-height: 70vh !important;">
            <div fxLayout="row wrap" class="matero-row">
                <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
                    <mat-card>
                        <mat-card-title>Registro de Proyecto</mat-card-title>
                        <div style="height: 25px;"></div>
                        <mat-card-content>
                            <form [formGroup]="registrarProyecto" class="matero-form-horizontal">
                                <div fxLayout="row wrap" fxLayoutGap="8px grid">
                                    <div fxFlex="50" fxFlex.lt-sm="100">
                                        <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                                            <mat-label>Nombre</mat-label>
                                            <input matInput placeholder="Nombre" formControlName="nombre" required />
                                            <mat-error *ngIf="registrarProyecto.get('nombre').invalid">Por favor ingresa el nombre
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50" fxFlex.lt-sm="100">
                                        <mat-form-field
                                            style="padding-left: 15px !important;padding-right: 15px !important;">
                                            <mat-label>Programa académico</mat-label>
                                            <input matInput placeholder="Programa académico" formControlName="NombreProgramaDocente" required />
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100" fxFlex.lt-sm="100">
                                        <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                                            <mat-label>Objetivo</mat-label>
                                            <textarea matInput rows="2" cols="40" placeholder="objetivo" formControlName="objetivo" required></textarea>
                                            <mat-error *ngIf="registrarProyecto.get('objetivo').invalid">Por favor ingresa el objetivo
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100" fxFlex.lt-sm="100">
                                        <mat-form-field
                                            style="padding-left: 15px !important;padding-right: 15px !important;">
                                            <mat-label>Descripción</mat-label>
                                            <textarea matInput rows="2" cols="40" placeholder="Descripción"
                                                formControlName="descripcion" required></textarea>
                                            <mat-error *ngIf="registrarProyecto.get('descripcion').invalid">Por favor ingresa la
                                                descripción
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="100" fxFlex.lt-sm="100">
                                        <mat-form-field
                                            style="padding-left: 15px !important;padding-right: 15px !important;"
                                        >
                                            <mat-label>Programas</mat-label>
                                            <mat-select formControlName="selectPrograma" (selectionChange)="select($event.value)"  required multiple >
                                            <mat-option disabled>-- Seleccione --</mat-option>
                                            <mat-option *ngFor="let programa of programas" [value]="programa.id">{{
                                                    programa.nombre
                                            }}</mat-option>
                                            </mat-select>
                        
                                            <mat-error *ngIf="registrarProyecto.get('selectPrograma').invalid"
                                            >Por favor selecciona el eje
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div style="text-align: center; padding-top: 20px;">
                                    <button mat-raised-button color="primary" class="m-t-8" style="width: 200px !important;"
                                        (click)="regisProyecto()">
                                        Registrar
                                    </button>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-dialog-content>