<page-header [title]="titulo"></page-header>
<mat-tab-group dynamicHeight [selectedIndex]="1" (selectedIndexChange)="volver($event)">
  <mat-tab>
    <ng-template mat-tab-label>Volver</ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>Proyecto</ng-template>
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="proyecto" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-card-title style="padding-top: 20px; padding-left: 20px;"
                    >Datos del proyecto</mat-card-title
                  >
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <div style="text-align: right; padding-top: 20px;" *ngIf="(usuario.rol_id == 4 || IsResponsable) && isPlanFin">
                    <button 
                      mat-raised-button
                      color="primary"
                      class="m-t-8"
                      (click)="modificar_Proyecto()"
                      [disabled]="cargar"
                    >
                      Guardar cambios
                    </button>
                  </div>
                </div>
              </div>
              <div style="height: 25px;"></div>
              <mat-divider></mat-divider>
              <div style="height: 25px;"></div>
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName="nombre" required />
                    <mat-error *ngIf="proyecto.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Programa académico</mat-label>
                    <input
                      matInput
                      placeholder="Programa académico"
                      formControlName="NombreProgramaDocente"
                      required
                    />
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Objetivo</mat-label>
                    <textarea
                      matInput
                      rows="2"
                      cols="40"
                      placeholder="objetivo"
                      formControlName="objetivo"
                      required
                    ></textarea>
                    <mat-error *ngIf="proyecto.get('objetivo').invalid"
                      >Por favor ingresa el objetivo
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Descripción</mat-label>
                    <textarea
                      matInput
                      rows="2"
                      cols="40"
                      placeholder="Descripción"
                      formControlName="descripcion"
                      required
                    ></textarea>
                    <mat-error *ngIf="proyecto.get('descripcion').invalid"
                      >Por favor ingresa la descripción
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Programas</mat-label>
                    <mat-select formControlName="selectPrograma" required multiple>
                      <mat-option disabled>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let programa of programas" [value]="programa.id">{{
                        programa.nombre
                      }}</mat-option>
                    </mat-select>

                    <mat-error *ngIf="proyecto.get('selectPrograma').invalid"
                      >Por favor selecciona el/los programas
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="cargar_cambios" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-content>
            <mat-list>
              <mat-list-item >
                <h3 mat-line style="margin-bottom: 20px; padding-left: 20px ; font-size: 24px;
                font-weight: 500;"
                >Responsables</h3>
                <button mat-icon-button  matTooltip="Asignar Responsable" style="color:red;" (click)="agregarResponsable(responsable)"  *ngIf="(usuario.rol_id == 4 || IsResponsable) && isPlanFin">
                  <mat-icon>add_circle</mat-icon>
                </button>
                <div style="height: 25px;"></div>
              <mat-divider></mat-divider>
              <div style="height: 25px;"></div>
              </mat-list-item>
              <mat-list-item *ngFor="let responsable of responsables_seleccionados">
                <mat-icon mat-list-icon>perm_contact_calendar</mat-icon>
                <h6 mat-line>{{ responsable.usuario.name }} {{ responsable.usuario.apellidos }}</h6>
                <button mat-icon-button  matTooltip="Desasignar responsale" style="color:red;" (click)="eliminarResponsableDialog(responsable)"  *ngIf="(usuario.rol_id == 4 || IsResponsable) && isPlanFin">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row wrap" class="matero-row" *ngIf="iniciarSeguimiento">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col" *ngIf="usuario.rol_id == 4">
          <div *ngFor="let seguimiento of  lista_seguimientos">
          <mat-card *ngIf="seguimiento.fecha_seguimiento!==''">
            <mat-card-content>
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-card-title style="padding-top: 10px; padding-left: 10px;"
                    > {{ seguimiento.periodo}}  &nbsp;&nbsp;&nbsp; {{ seguimiento.valoracion}}%</mat-card-title
                  >
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100" *ngIf="(seguimiento.fecha_seguimiento!==null && seguimiento.fecha_seguimiento!=='');else terminado"> 
                  <div style="text-align: right; padding-top: 7px;">
                   
                    {{ seguimiento.fecha_seguimiento}}  &nbsp;/ 
                      <button
                      style="color: rgb(36, 230, 45); font-size: 18px;"
                      mat-icon-button
                      matTooltip="Finalizado"
                      aria-label="Activate icon style google search link"
                    >
                      <mat-icon>check_circle_outline</mat-icon>
                    </button>
                  </div>
                </div>
                <ng-template #terminado>
                    <div fxFlex="50" fxFlex.lt-sm="100" *ngIf="(seguimiento.fecha_seguimiento===null && seguimiento.fecha_seguimiento!=='')" > 
                        <div style="text-align: right; padding-top: 7px;">
                            <button *ngIf="usuario.rol_id==4 || usuario.rol_id==3"
                            (click)="finalizar_seguimiento(seguimiento)"
                            style="color: rgb(230, 23, 23); font-size: 18px;"
                            mat-icon-button
                            [disabled]="cargar"
                            matTooltip="Finalizar Seguimiento"
                            aria-label="Activate icon style google search link"
                          >
                            <mat-icon>check_circle_outline</mat-icon>
                          </button>
                        </div>
                      </div>
                  </ng-template>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div style="height: 25px;"></div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label style="width: 50%;">Actividades</ng-template>
    <mat-card class="demo-card" role="group">
      <mat-card-content>
        <div class="customizer-handle" *ngIf="(usuario.rol_id == 4 ||  IsResponsable)&& isPlanFin">
          <button mat-fab (click)="agregarProyecto()"  >
            <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
          </button>
        </div>
        <div style="margin-top: 30px;">
          <table 
          id="first-table" 
          datatable 
          [dtOptions]="dtOptions" 
          [dtTrigger]="dtTrigger" 
          class="row-border hover">
            <thead>
              <tr>
                <th style="width: 100px;">Código</th>
                <th>Nombre</th>
                <th>F. Inicio</th>
                <th>Peso</th>
                <th style="width: 100px;">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let actividad of actividades">
                <td style="text-align: center;">{{ actividad.id }}</td>
                <td style="text-align: center;">{{ actividad.nombre }}</td>
                <td style="text-align: center;">{{ actividad.fecha_inicio }}</td>
                <td style="text-align: center;">{{ actividad.peso }}</td>

                <td style="text-align: center;">
                  <a
                    (click)="modificarActividarDialog(actividad)"
                    mat-icon-button
                    aria-label="Activate icon style google search link"
                  >
                    <mat-icon>list</mat-icon>
                  </a>
                  <a *ngIf="(usuario.rol_id == 4 || IsResponsable)&& isPlanFin"
                    (click)="eliminarActividadDialog(actividad)"
                    style="color: red;"
                    mat-icon-button
                    aria-label="Activate icon style google search link"
                  >
                    <mat-icon>delete</mat-icon>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  
</mat-tab-group>

<ng-template #agregar>
  <mat-dialog-content style="max-height: 80vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Registro De Actividad</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="registroActividad" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      required
                      autocomplete="off"
                    />
                    <mat-error *ngIf="registroActividad.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Costo</mat-label>
                    <input
                      matInput
                      type="number"
                      placeholder="Costo"
                      formControlName="costo"
                      required
                      autocomplete="off"
                    />
                    <mat-error *ngIf="registroActividad.get('costo').invalid"
                      >Por favor ingresa el costo
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    (click)="fecha_inicio.open()"
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <input
                      matInput
                      [min]="minDate"
                      [matDatepicker]="fecha_inicio"
                      placeholder="Fecha de inicio"
                      formControlName="fecha_inicio"
                      autocomplete="off"
                    />
                    <mat-datepicker-toggle matSuffix [for]="fecha_inicio"></mat-datepicker-toggle>
                    <mat-datepicker #fecha_inicio></mat-datepicker>
                    <mat-error *ngIf="registroActividad.get('fecha_inicio').invalid"
                      >Por favor ingresa una fecha valida
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    (click)="fecha_fin.open()"
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <input
                      matInput
                      [matDatepicker]="fecha_fin"
                      placeholder="Fecha de final"
                      formControlName="fecha_fin"
                      [min]="registroActividad.get('fecha_inicio').value || minTripDate"
                      autocomplete="off"
                    />
                    <mat-datepicker-toggle matSuffix [for]="fecha_fin"></mat-datepicker-toggle>
                    <mat-datepicker #fecha_fin></mat-datepicker>
                    <mat-error
                      *ngIf="
                        registroActividad.get('fecha_fin').hasError('matDatepickerMin') ||
                        registroActividad.get('fecha_fin').invalid
                      "
                    >
                      Por favor ingresa una fecha valida despues de la fecha inicial.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Peso</mat-label>
                    <input
                      matInput
                      type="number"
                      placeholder="Peso"
                      formControlName="peso"
                      required
                      min="0"
                      max="100"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '');if(this.value.length > 3) this.value = this.value.slice(0, 3);"
                      pattern="[0-9]*"
                      autocomplete="off"
                    />
                    <mat-error *ngIf="registroActividad.get('peso').invalid"
                      >Por favor ingresa el peso
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Unidad de medida</mat-label>
                    <input
                      matInput
                      placeholder="Unidad de medida"
                      formControlName="unidad_medida"
                      required
                      autocomplete="off"
                    />
                    <mat-error *ngIf="registroActividad.get('unidad_medida').invalid"
                      >Por favor ingresa la unidad de medida
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Indicador</mat-label>
                    <mat-select formControlName="indicador_id" required>
                      <mat-option disabled>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let indicador of indicadores" [value]="indicador.id">{{
                        indicador.nombre
                      }}</mat-option>
                    </mat-select>

                    <mat-error *ngIf="registroActividad.get('indicador_id').invalid"
                      >Por favor selecciona el indicador
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Recursos</mat-label>
                    <mat-select formControlName="recursos" required multiple>
                      <mat-option disabled>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let recurso of recursos" [value]="recurso.id">{{
                        recurso.nombre
                      }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="registroActividad.get('recursos').invalid"
                      >Por favor selecciona el recurso
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Descripción</mat-label>
                    <textarea
                      matInput
                      rows="2"
                      cols="40"
                      placeholder="Descripción"
                      formControlName="descripcion"
                      required
                    ></textarea>
                    <mat-error *ngIf="registroActividad.get('descripcion').invalid"
                      >Por favor ingresa la descripción
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="registrar_actividad()"
                  [disabled]="cargar"
                >
                  Registrar
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #eliminar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Eliminar Actividad</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas eliminar la actividad {{ item.nombre }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminarActividad()"
                [disabled]="cargar"
              >
                Eliminar
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #agregar_responsables>
  <mat-dialog-content style="max-height: 80vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Agregar responsables</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="registroResponsable" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid" style="width: 400px;">
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Responsable</mat-label>
                    <mat-select formControlName="responsables" required multiple>
                      <mat-option disabled>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let responsable of responsables" [value]="responsable.id">
                        {{ responsable.name }} {{ responsable.apellidos }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registroResponsable.get('responsables').invalid"
                      >Por favor selecciona el responsable
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="registrar_responsable()"
                  [disabled]="cargar"
                >
                  Registrar
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #eliminar_responsables>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Eliminar Responsable</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas desasignar el responsable {{ item.usuario.nombre }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminar_responsable()"
                [disabled]="cargar"
              >
                Eliminar
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

