.red ::ng-deep .mat-progress-bar-fill::after {
  background-color: rgb(255, 0, 0);
}

.orange ::ng-deep .mat-progress-bar-fill::after {
  background-color: rgb(255, 196, 0);
}

.green ::ng-deep .mat-progress-bar-fill::after {
  background-color: rgb(3, 209, 65);
}

::ng-deep .mat-progress-bar-buffer {
  background: #c8dceb;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
  height: 5px;
}

input[type='file']#mi-archivo {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for='mi-archivo'] {
  font-size: 12px;
  font-weight: 300;
  color: #ff5722;
  background-color: transparent !important;
  border-radius: 5px;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  margin-top: 10px;
  padding: 9px 40px 9px 0 !important;
  width: fit-content;
  white-space: nowrap;
  text-align: left;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 200px !important;
}
