<page-header [title]="title"></page-header>
<mat-tab-group
  dynamicHeight
  [selectedIndex]="selectedIndexTab"
  (selectedIndexChange)="volver($event)"
>
  <mat-tab>
    <ng-template mat-tab-label>Volver</ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Actividad</ng-template>
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="modificarActividad" class="matero-form-horizontal">
              <h2 style="text-align: center;">{{ proyecto }}</h2>
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-card-title
                    style="padding-top: 20px; padding-left: 20px; font-size: 18px !important;"
                    >Datos de la actividad</mat-card-title
                  >
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <div style="text-align: right; padding-top: 20px;">
                    <button
                      *ngIf="(usuario.rol_id == 4 || IsResponsable) && isPlanFin"
                      mat-raised-button
                      color="primary"
                      class="m-t-8"
                      (click)="modificar_actividad()"
                      [disabled]="cargar"
                    >
                      Guardar cambios
                    </button>
                  </div>
                </div>
              </div>
              <div style="height: 25px;"></div>
              <mat-divider></mat-divider>
              <div style="height: 25px;"></div>
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      required
                      autocomplete="off"
                    />
                    <mat-error *ngIf="modificarActividad.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Costo</mat-label>
                    <input
                      matInput
                      placeholder="Costo"
                      formControlName="costo"
                      required
                      type="number"
                      autocomplete="off"
                    />
                    <mat-error *ngIf="modificarActividad.get('costo').invalid"
                      >Por favor ingresa el costo
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <input
                      matInput
                      [matDatepicker]="fecha_inicio"
                      placeholder="Fecha de inicio"
                      formControlName="fecha_inicio"
                      [min]="minTripDate"
                      [max]="maxTripDate"
                      autocomplete="off"
                    />
                    <mat-datepicker-toggle matSuffix [for]="fecha_inicio"></mat-datepicker-toggle>
                    <mat-datepicker #fecha_inicio></mat-datepicker>
                    <mat-error *ngIf="modificarActividad.get('fecha_inicio').invalid"
                      >Por favor ingresa una fecha valida
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <input
                      matInput
                      [matDatepicker]="fecha_fin"
                      placeholder="Fecha de final"
                      formControlName="fecha_fin"
                      [min]="modificarActividad.get('fecha_inicio').value || minTripDate"
                      [max]="maxTripDate"
                      autocomplete="off"
                    />
                    <mat-datepicker-toggle matSuffix [for]="fecha_fin"></mat-datepicker-toggle>
                    <mat-datepicker #fecha_fin></mat-datepicker>
                    <mat-error
                      *ngIf="
                        modificarActividad.get('fecha_fin').hasError('matDatepickerMin') ||
                        modificarActividad.get('fecha_fin').invalid
                      "
                    >
                      Por favor ingresa una fecha valida despues de la fecha inicial.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Peso</mat-label>
                    <input
                      matInput
                      placeholder="Peso"
                      formControlName="peso"
                      required
                      type="number"
                      min="0"
                      max="100"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '');if(this.value.length > 3) this.value = this.value.slice(0, 3);"
                      pattern="[0-9]*"
                      autocomplete="off"
                    />
                    <mat-error *ngIf="modificarActividad.get('peso').invalid"
                      >Por favor ingresa el peso
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Unidad de medida</mat-label>
                    <input
                      matInput
                      placeholder="Unidad de medida"
                      formControlName="unidad_medida"
                      required
                      autocomplete="off"
                    />
                    <mat-error *ngIf="modificarActividad.get('unidad_medida').invalid"
                      >Por favor ingresa la unidad de medida
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100" *ngIf="isPlan== 'true' && isPlanFin">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Indicador</mat-label>
                    <mat-select formControlName="indicador_id" required>
                      <mat-option disabled>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let indicador of indicadores" [value]="indicador.id">{{
                        indicador.nombre
                      }}</mat-option>
                    </mat-select>

                    <mat-error *ngIf="modificarActividad.get('indicador_id').invalid"
                      >Por favor selecciona el indicador
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100" *ngIf="isPlan== 'true' && isPlanFin">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado" required>
                      <mat-option value="ACTIVO">Activo</mat-option>
                      <mat-option value="INACTIVO">Inactivo</mat-option>
                    </mat-select>

                    <mat-error *ngIf="modificarActividad.get('indicador_id').invalid"
                      >Por favor selecciona el estado
                    </mat-error>
                  </mat-form-field>
                </div>
                  <div fxFlex="100" fxFlex.lt-sm="100" *ngIf="isPlan== 'false'">
                    <mat-form-field
                      style="padding-left: 15px !important;padding-right: 15px !important;"
                    >
                      <mat-label>Indicador</mat-label>
                      <mat-select formControlName="indicador_id" required>
                        <mat-option disabled>-- Seleccione --</mat-option>
                        <mat-option *ngFor="let indicador of indicadores" [value]="indicador.id">{{
                          indicador.nombre
                        }}</mat-option>
                      </mat-select>

                      <mat-error *ngIf="modificarActividad.get('indicador_id').invalid"
                        >Por favor selecciona el indicador
                      </mat-error>
                    </mat-form-field>
                  </div>

                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Descripción</mat-label>
                    <textarea
                      matInput
                      rows="2"
                      cols="40"
                      placeholder="Descripción"
                      formControlName="descripcion"
                      required
                    ></textarea>
                    <mat-error *ngIf="modificarActividad.get('descripcion').invalid"
                      >Por favor ingresa la descripción
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div *ngFor="let seguimiento of lista_seguimientos">
      <div fxLayout="row wrap" class="matero-row" *ngIf="isSeguimiento && isPlan== 'true'">
        <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
          <mat-card>
            <mat-card-content>
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-card-title style="padding-top: 10px; padding-left: 10px;"
                    >Periodo: {{ seguimiento.periodo_evaluado }}</mat-card-title
                  >
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <div style="text-align: right; padding-top: 7px;">
                    <span *ngIf="seguimiento.fecha_seguimiento != null"
                      >Finalización: {{ seguimiento.fecha_seguimiento }} /
                    </span>
                    <span [style.color]="getColor(seguimiento.valoracion)"
                      >{{ seguimiento.situacion_actual }}
                    </span>
                    /
                    <a
                      (click)="verComentarios(seguimiento)"
                      style="color: rgb(21, 141, 197); font-size: 18px;"
                      mat-icon-button
                      matTooltip="Ver Comentarios"
                      aria-label="Activate icon style google search link"
                    >
                      <mat-icon>comment</mat-icon>
                    </a>
                  </div>
                </div>
              </div>
              <div style="height: 5px;"></div>
              <mat-progress-bar
                [ngClass]="[getColor(seguimiento.valoracion)]"
                mode="determinate"
                value="{{ seguimiento.valoracion }}"
              ></mat-progress-bar>
              <div style="height: 25px;"></div>
              <div
                fxLayout="row wrap"
                fxLayoutGap="8px grid"
                class="matero-form-horizontal"
                *ngIf="usuario.rol_id == 4 || usuario.rol_id == 3"
              >
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Situacion actual</mat-label>
                    <input
                      matInput
                      placeholder="Situacion Actual"
                      value="{{ seguimiento.situacion_actual }}"
                      disabled
                      autocomplete="off"
                    />
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Valoracion</mat-label>
                    <input
                      matInput
                      type="number"
                      min="0"
                      max="100"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '');if(this.value.length > 3) this.value = this.value.slice(0, 3);"
                      pattern="[0-9]*"
                      placeholder="Valoración 1 - 100"
                      [(ngModel)]="seguimiento.valoracion"
                      required
                      (ngModelChange)="validarValorSeguimiento(seguimiento)"
                      autocomplete="off"
                    />
                  </mat-form-field>
                  <div
                    *ngIf="seguimiento.valoracion > 100"
                    style="scroll-padding-left: 15px; font-size: 11px; color:red;"
                  >
                    Por favor ingresa una valoración de 1 a 100
                  </div>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <div style="text-align: center; ">
                    <button
                      mat-raised-button
                      color="primary"
                      class="m-t-8"
                      (click)="registrar_seguimiento_actividad(seguimiento, false)"
                      [disabled]="
                        seguimiento.valoracion > 100 ||
                        seguimiento.valoracion == null ||
                        seguimiento.fecha_seguimiento != null
                      "
                    >
                      Asignar Valoración
                    </button>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div style="height: 25px;"></div>
  </mat-tab>

  <mat-tab [disabled]="isVerComentarios">
    <ng-template mat-tab-label style="width: 50%;">Recursos</ng-template>
    <mat-card class="demo-card" role="group">
      <mat-card-content>
        <div class="customizer-handle">
          <button mat-fab (click)="agregarRecurso()" *ngIf="usuario.rol_id == 4 || IsResponsable">
            <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
          </button>
        </div>
        <div style="margin-top: 30px;">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger_recursos"
            class="row-border hover"
          >
            <thead>
              <tr>
                <th style="width: 70px;">Código</th>
                <th style="width: 100px;">Nombre</th>
                <th style="width: 70px;" *ngIf="usuario.rol_id == 4 || IsResponsable">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let recusro of recursos_seleccionados">
                <td style="text-align: center;">{{ recusro.recurso.id }}</td>
                <td style="text-align: center;">{{ recusro.recurso.nombre }}</td>
                <td style="text-align: center;" *ngIf="usuario.rol_id == 4 || IsResponsable">
                  <a
                    (click)="eliminarRecursoDialog(recusro)"
                    style="color: red;"
                    mat-icon-button
                    aria-label="Activate icon style google search link"
                  >
                    <mat-icon>delete</mat-icon>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab *ngIf="isVerComentarios">
    <ng-template mat-tab-label>Comentarios</ng-template>
    <div class="customizer-handle">
      <button mat-fab (click)="agregarComentario()">
        <mat-icon aria-label="Example icon-button with a settings icon">sms</mat-icon>
      </button>
    </div>
    <div fxLayout="row wrap" class="matero-row" *ngFor="let comentario of listaComentarios">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <div fxLayout="row wrap" fxLayoutGap="0px grid">
            <div fxFlex="50" fxFlex.lt-sm="100">
              <h4 style="margin-bottom: 5px; margin-top: 5px;">
                {{ comentario.autor.name }} {{ comentario.autor.apellidos }} /
                {{ comentario.updated_at }}
              </h4>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100" *ngIf="usuario.id == comentario.autor_id">
              <div style="text-align: right;">
                <a
                  (click)="editar_comentario(comentario)"
                  mat-icon-button
                  aria-label="Activate icon style google search link"
                >
                  <mat-icon style="font-size: 20px !important;">edit</mat-icon>
                </a>
                <a
                  (click)="eliminar_comentario(comentario)"
                  style="color: red;"
                  mat-icon-button
                  aria-label="Activate icon style google search link"
                >
                  <mat-icon style="font-size: 20px !important;">delete</mat-icon>
                </a>
              </div>
            </div>
          </div>
          <mat-card-content>
            <div class="message" [innerHTML]="comentario.observacion"></div>
            <mat-accordion *ngIf="comentario.evidencias.length > 0">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Ver Evidencias
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                  <mat-list-item *ngFor="let file of comentario.evidencias">
                    <mat-icon mat-list-icon>note</mat-icon>
                    <h6 mat-line>
                      <a target="_blank" href="{{ urlBase }}/{{ file.url }}"
                        >{{ getNombre(file.url) }}
                      </a>
                    </h6>
                    <button
                      mat-icon-button
                      (click)="eliminar_evidencia(file.id)"
                      *ngIf="usuario.id == comentario.autor_id"
                    >
                      <mat-icon>clear</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #agregar_recursos>
  <mat-dialog-content style="max-height: 80vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Agregar recursos</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="registroRecurso" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid" style="width: 400px;">
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Recursos</mat-label>
                    <mat-select formControlName="recursos" required multiple>
                      <mat-option disabled>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let recurso of recursosLista" [value]="recurso.id">{{
                        recurso.nombre
                      }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="registroRecurso.get('recursos').invalid"
                      >Por favor selecciona el recurso
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="registrar_recurso()"
                  [disabled]="cargar"
                >
                  Registrar
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #eliminar_recursos>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Eliminar Recurso</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas desasignar el recurso {{ item.recurso.nombre }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminar_recurso()"
                [disabled]="cargar"
              >
                Eliminar
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #agregar_comentario>
  <mat-dialog-content style="max-height: 80vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title *ngIf="isComentar">Agregar Comentario</mat-card-title>
          <mat-card-title *ngIf="!isComentar">Actualizar Comentario</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <ckeditor
              tagName="textarea"
              [editor]="Editor"
              [(ngModel)]="model.editorData"
              style="height: 250px;"
            ></ckeditor>
            <div
              fxLayout="row wrap"
              fxLayoutGap="8px grid"
              style="width: 400px;"
              *ngIf="isComentar"
            >
              <div fxFlex="100" fxFlex.lt-sm="100">
                <div
                  style="padding-left: 15px !important;padding-right: 15px !important; text-align: left;"
                >
                  <span class="mi-archivo">
                    <input
                      ng2FileSelect
                      [uploader]="uploader"
                      multiple
                      type="file"
                      name="mi-archivo"
                      id="mi-archivo"
                    />
                  </span>
                  <label for="mi-archivo">
                    <span>Cargar Evidencias</span>
                  </label>
                </div>
              </div>
              <div fxFlex="100" fxFlex.lt-sm="100">
                <mat-list>
                  <mat-list-item *ngFor="let item of uploader.queue">
                    <mat-icon mat-list-icon>note</mat-icon>
                    <h6 mat-line>{{ item?.file?.name }}</h6>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div style="text-align: center; padding-top: 20px;" *ngIf="isComentar">
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important;"
                (click)="registrar_comentario()"
                [disabled]="cargar"
              >
                Comentar
              </button>
            </div>
            <div style="text-align: center; padding-top: 20px;" *ngIf="!isComentar">
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important;"
                (click)="modificar_comentario()"
                [disabled]="cargar"
              >
                Actualizar Comentario
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
