<page-header [title]="'Gestión De Planes De Acción'"></page-header>

<mat-card class="demo-card" role="group">
  <mat-card-content>
    <div class="customizer-handle">
      <button mat-fab (click)="agregarPlan()" *ngIf="usuario.rol_id == 4">
        <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
      </button>
    </div>
    <div style="margin-top: 30px;">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th style="width: 170px;">Nombre</th>
            <th style="width: 90px;">Perido Inicial</th>
            <th style="width: 90px;">Periodo Final</th>
            <th style="width: 90px;">Programa</th>
            <th style="width: 90px;">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of planes">
            <td style="text-align: center;">{{ plan.nombre }}</td>
            <td style="text-align: center; text-transform: uppercase;">
              {{ plan.periodo_inicio }}
            </td>
            <td style="text-align: center; text-transform: uppercase;">{{ plan.periodo_fin }}</td>
            <td style="text-align: center;" *ngIf="Admis_docentes; else NamePrograma">
              {{ plan.programa_academico.nombre }}
            </td>
            <ng-template #NamePrograma>
              <td style="text-align: center;">{{ NombrePrograma }}</td>
            </ng-template>
            <td style="text-align: center;">
              <a
                (click)="modificarPlanDialog(plan)"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>list</mat-icon>
              </a>
              <a
                *ngIf="usuario.rol_id == 4"
                (click)="EliminarplanDialog(plan)"
                style="color: red;"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>delete</mat-icon>
              </a>
              <a
                (click)="abrirReporte(plan)"
                style="color: blue;"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>assignment</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #agregar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Registro de Plan Estratégico</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="registrarPLan" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      required
                      autocomplete="off"
                    />
                    <mat-error *ngIf="registrarPLan.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Programa académico</mat-label>
                    <input
                      matInput
                      placeholder="Programa académico"
                      formControlName="NombreProgramaDocente"
                      required
                    />
                  </mat-form-field>
                </div>
                <!-------------------------------->
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Año de inicio</mat-label>
                    <input
                      matInput
                      placeholder="Programa académico"
                      formControlName="fecha_Inicio"
                      required
                    />
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Año de fin</mat-label>
                    <input
                      matInput
                      type="number"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '');if(this.value.length > 4) this.value = this.value.slice(0, 4);"
                      size="4"
                      pattern="[0-9]*"
                      placeholder="Programa académico"
                      formControlName="fecha_Fin"
                      required
                    />
                  </mat-form-field>
                  <div
                    style="color:red; font-size: 12px; padding-left: 15px !important;padding-right: 15px !important;"
                    *ngIf="invalidDate"
                  >
                    Por favor ingresa un año valido despues del año inicial.
                  </div>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre del archivo</mat-label>
                    <input
                      matInput
                      placeholder="Archivo"
                      formControlName="nombreArchivo"
                      required
                      autocomplete="off"
                    />
                  </mat-form-field>
                  <mat-error *ngIf="registrarPLan.get('nombreArchivo').invalid"
                    >Por favor selecciona el un archivo
                  </mat-error>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <div
                    style="padding-left: 15px !important;padding-right: 15px !important; text-align: center;"
                  >
                    <span class="mi-archivo">
                      <input
                        type="file"
                        name="mi-archivo"
                        id="mi-archivo"
                        (change)="onFileSelect($event)"
                      />
                    </span>
                    <label for="mi-archivo">
                      <span>Cargar Nuevo</span>
                    </label>
                  </div>
                </div>

                <!-------------------------------->
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="registrar_plan()"
                  [disabled]="cargar"
                >
                  Registrar
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #eliminar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Eliminar Plan Estratégico </mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas eliminar el plan {{ item.nombre }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminar_plan()"
                [disabled]="cargar"
              >
                Eliminar
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
