<page-header [title]="'Gestión De Indicadores'"></page-header>

<mat-card class="demo-card" role="group">
  <mat-card-content>
    <div class="customizer-handle">
      <button mat-fab (click)="agregarIndicador()">
        <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
      </button>
    </div>
    <div style="margin-top: 30px;">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th style="width: 70px;">Código</th>
            <th style="width: 150px;">Nombre</th>
            <th style="width: 70px;">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let indicador of indicadores">
            <td style="text-align: center;">{{ indicador.id }}</td>
            <td style="text-align: center;">{{ indicador.nombre }}</td>
            <td style="text-align: center;">
              <a
                (click)="modificarIndicadorDialog(indicador)"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>create</mat-icon>
              </a>
              <a
                (click)="EliminarIndicadorDialog(indicador)"
                style="color: red;"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #agregar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Registrar Indicador</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="registrarIndicador" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid" style="width: 400px;">
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName="nombre" required />
                    <mat-error *ngIf="registrarIndicador.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="regisIndicador()"
                  [disabled]="cargar"
                >
                  Registrar
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #modificar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Modificar Indicador</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="modificarIndicador" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Código</mat-label>
                    <input matInput placeholder="Código" formControlName="codigo" required />
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName="nombre" required />
                    <mat-error *ngIf="modificarIndicador.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="modifiIndicador()"
                  [disabled]="cargar"
                >
                  Guardar Cambios
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #eliminar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Eliminar Indicador</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas eliminar el indicador estratégico {{ item.nombre }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminarIndicador()"
                [disabled]="cargar"
              >
                Eliminar
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
