<page-header [title]="titulo"></page-header>
<mat-tab-group dynamicHeight [selectedIndex]="1" (selectedIndexChange)="volver($event)">
  <mat-tab>
    <ng-template mat-tab-label>Volver</ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Plan</ng-template>
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="modificarPlan" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-card-title style="padding-top: 20px; padding-left: 20px;"
                    >Datos del plan</mat-card-title
                  >
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <div style="text-align: right; padding-top: 20px;">
                    <button
                      *ngIf="isPlanFin && usuario.rol_id == 4"
                      mat-raised-button
                      color="primary"
                      class="m-t-8"
                      (click)="modificar_plan(false)"
                      [disabled]="cargar"
                    >
                      Guardar cambios
                    </button>
                  </div>
                </div>
              </div>
              <div style="height: 25px;"></div>
              <mat-divider></mat-divider>
              <div style="height: 25px;"></div>

              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      required
                      autocomplete="off"
                    />
                    <mat-error *ngIf="modificarPlan.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>programa académico</mat-label>
                    <mat-select required formControlName="prograAcademico" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option
                        *ngFor="let programa of programaAcademicos"
                        [value]="programa.id"
                        >{{ programa.nombre }}</mat-option
                      >
                    </mat-select>
                    <mat-error *ngIf="modificarPlan.get('prograAcademico').invalid"
                      >Por favor selecciona el programa
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-------------------------------->
                <div fxFlex="50" fxFlex.lt-sm="100" style="margin-top: -10px;">
                  <mat-form-field
                    (click)="fecha_inicio.open()"
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <input
                      matInput
                      [matDatepicker]="fecha_inicio"
                      placeholder="Año de inicio"
                      formControlName="fecha_Inicio"
                      autocomplete="off"
                    />
                    <input
                      matInput
                      style="margin-top: 3px;"
                      placeholder="Año de inicio"
                      formControlName="fecha_Inicio"
                      autocomplete="off"
                    />

                    <mat-datepicker-toggle matSuffix [for]="fecha_inicio"></mat-datepicker-toggle>
                    <mat-datepicker
                      #fecha_inicio
                      disabled="false"
                      (yearSelected)="closeInicioPicker($event)"
                      startView="multi-year"
                    ></mat-datepicker>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100" style="margin-top: -10px;">
                  <mat-form-field
                    (click)="fecha_fin.open()"
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <input
                      matInput
                      [matDatepicker]="fecha_fin"
                      placeholder="Año de final"
                      formControlName="fecha_Fin"
                      [min]="minTripDate"
                      autocomplete="off"
                    />
                    <input
                      matInput
                      style="margin-top: 3px;"
                      placeholder="Año de inicio"
                      formControlName="fecha_Fin"
                      autocomplete="off"
                    />
                    <mat-datepicker-toggle matSuffix [for]="fecha_fin"></mat-datepicker-toggle>
                    <mat-datepicker
                      #fecha_fin
                      disabled="false"
                      (yearSelected)="closeFinPicker($event)"
                      startView="multi-year"
                    ></mat-datepicker>
                  </mat-form-field>
                  <div
                    style="color:red; font-size: 12px; padding-left: 15px !important;padding-right: 15px !important;"
                    *ngIf="invalidDate"
                  >
                    Por favor ingresa un año valida despues del año inicial.
                  </div>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <a target="_blank" href="{{ urlBase }}/{{ archivo }}">
                    <mat-form-field
                      style="padding-left: 15px !important;padding-right: 15px !important;"
                    >
                      <mat-label>Nombre del archivo</mat-label>
                      <input
                        matInput
                        placeholder="Archivo"
                        formControlName="nombreArchivo"
                        required
                        autocomplete="off"
                      />
                    </mat-form-field>
                  </a>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100" *ngIf="usuario.rol_id == 4">
                  <div
                    style="padding-left: 15px !important;padding-right: 15px !important; text-align: center;"
                  >
                    <span class="mi-archivo">
                      <input
                        type="file"
                        name="mi-archivo"
                        id="mi-archivo"
                        (change)="onFileSelect($event)"
                      />
                    </span>
                    <label for="mi-archivo">
                      <span>Cargar Nuevo</span>
                    </label>
                  </div>
                </div>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div
        fxFlex="100"
        fxFlex.lt-sm="100"
        class="matero-col"
        *ngIf="isPlanFin && usuario.rol_id == 4"
      >
        <mat-card>
          <mat-card-content>
            <div fxLayout="row wrap" fxLayoutGap="8px grid">
              <div fxFlex="100" fxFlex.lt-sm="100">
                <div style="text-align: center; padding-top: 20px;">
                  <button
                    mat-raised-button
                    color="primary"
                    class="m-t-8"
                    (click)="modificar_plan(true)"
                    [disabled]="cargar"
                  >
                    Finalizar plan
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label style="width: 50%;">Proyectos</ng-template>
    <mat-card class="demo-card" role="group">
      <mat-card-content>
        <div class="customizer-handle">
          <button mat-fab (click)="agregarProtecto()" *ngIf="isPlanFin && usuario.rol_id == 4">
            <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
          </button>
        </div>
        <div style="margin-top: 30px;">
          <table
            #table_recursos
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="row-border hover"
          >
            <thead>
              <tr>
                <th style="width: 70px;">Código</th>
                <th style="width: 200px;">Nombre</th>
                <th style="width: 90px;">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proyecto of proyectos">
                <td style="text-align: center;">{{ proyecto.id }}</td>
                <td style="text-align: center;">{{ proyecto.nombre }}</td>
                <td style="text-align: center;">
                  <a
                    (click)="modificarProyectoDialog(proyecto)"
                    mat-icon-button
                    aria-label="Activate icon style google search link"
                  >
                    <mat-icon>list</mat-icon>
                  </a>
                  <a
                    *ngIf="usuario.rol_id == 4 && isPlanFin"
                    (click)="eliminarProyectoDialog(proyecto)"
                    style="color: red;"
                    mat-icon-button
                    aria-label="Activate icon style google search link"
                  >
                    <mat-icon>delete</mat-icon>
                  </a>
                  <a
                    (click)="abrirReporte(proyecto)"
                    style="color: blue;"
                    mat-icon-button
                    aria-label="Activate icon style google search link"
                  >
                    <mat-icon>assignment</mat-icon>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<ng-template #agregar_proyecto>
  <mat-dialog-content style="max-height: 80vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Asignar Proyectos</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="agregarProyectos" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid" style="width: 400px;">
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Proyectos</mat-label>
                    <mat-select formControlName="proyectos" required multiple>
                      <mat-option disabled>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let proyecto of listaProyectos" [value]="proyecto.id">{{
                        proyecto.nombre
                      }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="agregarProyectos.get('proyectos').invalid"
                      >Por favor selecciona el proyecto
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="agregar_proyecto_plan()"
                  [disabled]="cargar"
                >
                  Agregar
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
<ng-template #eliminar_proyecto_Dialog>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Desasignar proyecto</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas desasignar el proyecto {{ item.nombre }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminar_proyecto()"
                [disabled]="cargar"
              >
                Eliminar
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
