input[type="file"]#mi-archivo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="mi-archivo"] {
    font-size: 12px;
    font-weight: 300;
    color: #ff5722;
    border: 1px solid #ff5722;
    background-color: transparent !important;
    border-radius: 5px;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    margin-top: 10px;
    padding: 9px 40px !important;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 200px !important;
}

