<page-header [title]="'Perfil'"></page-header>

<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-card>
      <mat-card-title>Mis Datos</mat-card-title>
      <div style="height: 25px;"></div>
      <mat-card-content>
        <form [formGroup]="modificarPerfil" class="matero-form-horizontal">
          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                <mat-label>Código</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  placeholder="Código"
                  formControlName="codigo"
                  required
                />
                <mat-error *ngIf="modificarPerfil.get('codigo').invalid"
                  >Por favor ingresa el código
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                <mat-label>Nombres</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  placeholder="Nombre"
                  formControlName="nombre"
                  oninput="this.value = this.value.replace(/[^A-Z a-zñÑáéíóúÁÉÍÓÚÜ]+/g, '');;if(this.value.length > 50) this.value = this.value.slice(0, 50);"
                  required
                />
                <mat-error *ngIf="modificarPerfil.get('nombre').invalid"
                  >Por favor ingresa el nombre
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                <mat-label>Apellidos</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  placeholder="text"
                  formControlName="apellido"
                  oninput="this.value = this.value.replace(/[^A-Z a-zñÑáéíóúÁÉÍÓÚÜ]+/g, '');;if(this.value.length > 50) this.value = this.value.slice(0, 50);"
                  required
                />
                <mat-error *ngIf="modificarPerfil.get('apellido').invalid">
                  Por favor ingresa el apellido</mat-error
                >
              </mat-form-field>
            </div>

            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                <mat-label>Correo</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  placeholder="Correo"
                  formControlName="email"
                  type="email"
                  required
                />
                <mat-error *ngIf="modificarPerfil.get('email').invalid">
                  {{ getErrorMessage(modificarPerfil) }}</mat-error
                >
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100" *ngIf="usuario.rol_id != 1 && usuario.rol_id != 2">
              <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                <mat-label>Contrato</mat-label>
                <mat-select formControlName="contrato" required>
                  <mat-option>-- Seleccione --</mat-option>
                  <mat-option value="PLANTA">Planta</mat-option>
                  <mat-option value="CATEDRA">Catedra</mat-option>
                  <mat-option value="PRESTACION DE SERVICIOS">Prestacion de servicios</mat-option>
                </mat-select>
                <mat-error *ngIf="modificarPerfil.get('contrato').invalid"
                  >Por favor selecciona el programa académico
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="50" fxFlex.lt-sm="100" *ngIf="usuario.rol_id != 1 && usuario.rol_id != 2">
              <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                <mat-label>Programa académico</mat-label>
                <mat-select formControlName="programa_academico_id" required>
                  <mat-option>-- Seleccione --</mat-option>
                  <mat-option *ngFor="let programa of programaAcademicos" [value]="programa.id">{{
                    programa.nombre
                  }}</mat-option>
                </mat-select>
                <mat-error *ngIf="modificarPerfil.get('programa_academico_id').invalid"
                  >Por favor selecciona el programa académico
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div style="text-align: center; padding-top: 20px;">
            <button
              mat-raised-button
              color="primary"
              class="m-t-8"
              style="width: 200px !important;"
              (click)="modificar_perfil()"
              [disabled]="cargar"
            >
              Actualizar Datos
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div style="height: 25px;"></div>
<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-card>
      <mat-card-title>Actualizar Contraseña</mat-card-title>
      <div style="height: 25px;"></div>
      <mat-card-content>
        <form [formGroup]="actualizarContrasena" class="matero-form-horizontal">
          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            <div fxFlex="100" fxFlex.lt-sm="100">
              <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                <mat-label>Contraseña Actual</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  type="password"
                  placeholder="Código"
                  formControlName="actual"
                  required
                />
                <mat-error *ngIf="actualizarContrasena.get('actual').invalid"
                  >Por favor ingresa la contraseña actual
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.lt-sm="100">
              <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                <mat-label>Contraseña Nueva</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  type="password"
                  placeholder="Código"
                  formControlName="nueva"
                  required
                />
                <mat-error *ngIf="actualizarContrasena.get('nueva').invalid"
                  >Por favor ingresa la contraseña nueva
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.lt-sm="100">
              <mat-form-field style="padding-left: 15px !important;padding-right: 15px !important;">
                <mat-label>Confirmar Contraseña</mat-label>
                <input
                  autocomplete="off"
                  matInput
                  type="password"
                  placeholder="Código"
                  formControlName="confirmar"
                  required
                />
                <mat-error *ngIf="actualizarContrasena.get('confirmar').invalid"
                  >Por favor confirma la contraseña
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div style="text-align: center; padding-top: 20px;">
            <button
              mat-raised-button
              color="primary"
              class="m-t-8"
              style="width: 200px !important;"
              (click)="actualizar_contrasena()"
              [disabled]="cargar"
            >
              Actualizar Contraseña
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
