<page-header [title]="'Gestión De Líneas Estratégicas'"></page-header>

<mat-card class="demo-card" role="group">
  <mat-card-content>
    <div class="customizer-handle">
      <button mat-fab (click)="agregarLinea()">
        <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
      </button>
    </div>
    <div style="margin-top: 30px;">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th style="width: 100px;">Código</th>
            <th style="width: 190px;">Nombre</th>
            <th style="width: 170px;">Eje</th>
            <th style="width: 100px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let linea of lineas">
            <td style="text-align: center;">{{ linea.codigo }}</td>
            <td style="text-align: center;">{{ linea.nombre }}</td>
            <td style="text-align: center;">{{ linea.eje.nombre }}</td>
            <td style="text-align: center;">
              <a (click)="modificarLineaDialog(linea)" mat-icon-button>
                <mat-icon>create</mat-icon>
              </a>

              <a (click)="EliminarLineaDialog(linea)" style="color: red;" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #agregar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Registro de Línea</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="registrarLinea" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Código</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      type="number"
                      placeholder="Código"
                      formControlName="codigo"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '');if(this.value.length > 15) this.value = this.value.slice(0, 15);"
                      pattern="[0-9]*"
                      required
                    />
                    <mat-error *ngIf="registrarLinea.get('codigo').invalid"
                      >Por favor ingresa el código
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombres</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      oninput="this.value = this.value.replace(/[^A-Z a-zñÑáéíóúÁÉÍÓÚÜ]+/g, '');;if(this.value.length > 50) this.value = this.value.slice(0, 50);"
                      required
                    />
                    <mat-error *ngIf="registrarLinea.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Eje estratégico</mat-label>
                    <mat-select required formControlName="eje" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let eje of ejes" [value]="eje.id">{{
                        eje.nombre
                      }}</mat-option>
                    </mat-select>

                    <mat-error *ngIf="registrarLinea.get('eje').invalid"
                      >Por favor selecciona el eje
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Descripción</mat-label>
                    <textarea
                      autocomplete="off"
                      matInput
                      [maxlength]="150"
                      rows="3"
                      cols="40"
                      placeholder="Descripción"
                      formControlName="descripcion"
                      required
                    ></textarea>
                    <mat-error *ngIf="registrarLinea.get('descripcion').invalid"
                      >Por favor ingresa la descripción
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="regisLinea()"
                  [disabled]="cargar"
                >
                  Registrar
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #modificar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Modificar Línea</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="modificarLinea" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Código</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Código"
                      formControlName="codigo"
                      required
                    />
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombre</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      oninput="this.value = this.value.replace(/[^A-Z a-zñÑáéíóúÁÉÍÓÚÜ]+/g, '');;if(this.value.length > 50) this.value = this.value.slice(0, 50);"
                      required
                    />
                    <mat-error *ngIf="modificarLinea.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Eje estratégico</mat-label>
                    <mat-select required formControlName="eje" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option *ngFor="let eje of ejes" [value]="eje.id">{{
                        eje.nombre
                      }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="modificarLinea.get('eje').invalid"
                      >Por favor selecciona el eje
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Descripción</mat-label>
                    <textarea
                      autocomplete="off"
                      matInput
                      [maxlength]="150"
                      rows="3"
                      cols="40"
                      placeholder="Descripción"
                      formControlName="descripcion"
                      required
                    ></textarea>
                    <mat-error *ngIf="modificarLinea.get('descripcion').invalid"
                      >Por favor ingresa la descripción
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="modifyLine()"
                  [disabled]="cargar"
                >
                  Guardar Cambios
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #eliminar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Eliminar LÍnea estratégica</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas eliminar la línea estratégica {{ item.nombre }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminarLinea()"
                [disabled]="cargar"
              >
                Eliminar
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
