<page-header [title]="'Gestión De Docentes'"></page-header>

<mat-card class="demo-card" role="group">
  <mat-card-content>
    <div class="customizer-handle">
      <button mat-fab (click)="agregarDocente()" *ngIf="usuario.rol_id == 1">
        <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
      </button>
    </div>
    <div style="margin-top: 30px;  ">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th style="width: 70px;">Código</th>
            <th style="width: 100px;">Nombre</th>
            <th style="width: 100px;">Programa</th>
            <th style="width: 90px;">Contrato</th>
            <th style="width: 70px;" *ngIf="usuario.rol_id == 1">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let docente of docentes">
            <td style="text-align: center;">{{ docente.codigo }}</td>
            <td style="text-align: center;">{{ docente.name }} {{ docente.apellidos }}</td>
            <td style="text-align: center;">{{ docente.programa_academico.nombre }}</td>
            <td style="text-align: center;">{{ docente.contrato }}</td>
            <td style="text-align: center;" *ngIf="usuario.rol_id == 1">
              <a
                (click)="modificarDocenteDialog(docente)"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>create</mat-icon> </a
              ><a
                (click)="EliminarDocenteDialog(docente)"
                style="color: red;"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #agregar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Registrar Nuevo Docente</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="registrarDocente" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Código</mat-label>
                    <input
                      matInput
                      placeholder="Código"
                      formControlName="codigo"
                      type="number"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '');if(this.value.length > 15) this.value = this.value.slice(0, 15);"
                      pattern="[0-9]*"
                      required
                      autocomplete="off"
                    />
                    <mat-error *ngIf="registrarDocente.get('codigo').invalid"
                      >Por favor ingresa el código
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombres</mat-label>
                    <input
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      oninput="this.value = this.value.replace(/[^A-Z a-zñÑáéíóúÁÉÍÓÚÜ]+/g, '');;if(this.value.length > 50) this.value = this.value.slice(0, 50);"
                      required
                      autocomplete="off"
                    />
                    <mat-error *ngIf="registrarDocente.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Apellidos</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Nombre"
                      formControlName="apellido"
                      oninput="this.value = this.value.replace(/[^A-Z a-zñÑáéíóúÁÉÍÓÚÜ]+/g, '');;if(this.value.length > 50) this.value = this.value.slice(0, 50);"
                      required
                    />
                    <mat-error *ngIf="registrarDocente.get('apellido').invalid"
                      >Por favor ingresa el apellido
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Correo</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="text"
                      formControlName="email"
                      type="email"
                      required
                    />
                    <mat-error *ngIf="registrarDocente.get('email').invalid">
                      {{ getErrorMessage(registrarDocente) }}</mat-error
                    >
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Contrato</mat-label>
                    <mat-select [(value)]="prueba" formControlName="contrato" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option value="PLANTA">Planta</mat-option>
                      <mat-option value="CATEDRA">Catedra</mat-option>
                      <mat-option value="PRESTACION DE SERVICIOS"
                        >Prestacion de servicios</mat-option
                      >
                    </mat-select>
                    <mat-error *ngIf="registrarDocente.get('contrato').invalid"
                      >Por favor selecciona el programa académico
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Programa académico</mat-label>
                    <mat-select formControlName="programa_academico_id" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option
                        *ngFor="let programa of programaAcademicos"
                        [value]="programa.id"
                        >{{ programa.nombre }}</mat-option
                      >
                    </mat-select>
                    <mat-error *ngIf="registrarDocente.get('programa_academico_id').invalid"
                      >Por favor selecciona el programa académico
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="regisDocente()"
                  [disabled]="cargar"
                >
                  Registrar
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #modificar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Modificar Docente</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            <form [formGroup]="modificarDocente" class="matero-form-horizontal">
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Código</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Código"
                      formControlName="codigo"
                      required
                    />
                    <mat-error *ngIf="modificarDocente.get('codigo').invalid"
                      >Por favor ingresa el código
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Nombres</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Nombre"
                      formControlName="nombre"
                      oninput="this.value = this.value.replace(/[^A-Z a-zñÑáéíóúÁÉÍÓÚÜ]+/g, '');;if(this.value.length > 50) this.value = this.value.slice(0, 50);"
                      required
                    />
                    <mat-error *ngIf="modificarDocente.get('nombre').invalid"
                      >Por favor ingresa el nombre
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Apellidos</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="text"
                      formControlName="apellido"
                      oninput="this.value = this.value.replace(/[^A-Z a-zñÑáéíóúÁÉÍÓÚÜ]+/g, '');;if(this.value.length > 50) this.value = this.value.slice(0, 50);"
                      required
                    />
                    <mat-error *ngIf="modificarDocente.get('apellido').invalid">
                      Por favor ingresa el apellido</mat-error
                    >
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Correo</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      placeholder="Correo"
                      formControlName="email"
                      type="email"
                      required
                    />
                    <mat-error *ngIf="modificarDocente.get('email').invalid">
                      {{ getErrorMessage(modificarDocente) }}</mat-error
                    >
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Contrato</mat-label>
                    <mat-select formControlName="contrato" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option value="PLANTA">Planta</mat-option>
                      <mat-option value="CATEDRA">Catedra</mat-option>
                      <mat-option value="PRESTACION DE SERVICIOS"
                        >Prestacion de servicios</mat-option
                      >
                    </mat-select>
                    <mat-error *ngIf="modificarDocente.get('contrato').invalid"
                      >Por favor selecciona el programa académico
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="50" fxFlex.lt-sm="100">
                  <mat-form-field
                    style="padding-left: 15px !important;padding-right: 15px !important;"
                  >
                    <mat-label>Programa académico</mat-label>
                    <mat-select formControlName="programa_academico_id" required>
                      <mat-option>-- Seleccione --</mat-option>
                      <mat-option
                        *ngFor="let programa of programaAcademicos"
                        [value]="programa.id"
                        >{{ programa.nombre }}</mat-option
                      >
                    </mat-select>
                    <mat-error *ngIf="modificarDocente.get('programa_academico_id').invalid"
                      >Por favor selecciona el programa académico
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="text-align: center; padding-top: 20px;">
                <button
                  mat-raised-button
                  color="primary"
                  class="m-t-8"
                  style="width: 200px !important;"
                  (click)="modifiDocente()"
                  [disabled]="cargar"
                >
                  Guardar Cambios
                </button>
              </div>
              <div *ngIf="cargar" style="margin-top: 10px;">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>

<ng-template #eliminar>
  <mat-dialog-content style="max-height: 70vh !important;">
    <div fxLayout="row wrap" class="matero-row">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-title>Eliminar Docente</mat-card-title>
          <div style="height: 25px;"></div>
          <mat-card-content>
            ¿Estás seguro que deseas eliminar el docente {{ item.name }} {{ item.apellidos }}?
            <div style="text-align: center; padding-top: 20px;">
              <button
                mat-raised-button
                class="m-t-8"
                style="width: 200px !important; margin-right: 15px;"
                (click)="cerrarModal()"
              >
                Cancelar
              </button>
              <button
                mat-raised-button
                color="primary"
                class="m-t-8"
                style="width: 200px !important; margin-left: 15px;"
                (click)="eliminarDocente()"
                [disabled]="cargar"
              >
                Eliminar
              </button>
            </div>
            <div *ngIf="cargar" style="margin-top: 10px;">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
