<page-header [title]="'Mis Proyectos'"></page-header>

<mat-card class="demo-card" role="group">
  <mat-card-content>
    <div class="customizer-handle">
      <button mat-fab (click)="agregarProyecto()" *ngIf="usuario.rol_id == 4">
        <mat-icon aria-label="Example icon-button with a settings icon">add_circle</mat-icon>
      </button>
    </div>
    <div style="margin-top: 30px;">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th style="width: 70px;">Código</th>
            <th style="width: 120px;">Nombre</th>
            <th style="width: 70px;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actividad of actividades">
            <td style="text-align: center;">{{ actividad.id }}</td>
            <td style="text-align: center;">{{ actividad.nombre }}</td>

            <td style="text-align: center;">
              <a
                (click)="verSeguimiento(actividad)"
                mat-icon-button
                aria-label="Activate icon style google search link"
              >
                <mat-icon>list</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card-content>
</mat-card>
