<page-header [title]="title"></page-header>

<div fxLayout="row wrap" class="matero-row">
  <mat-tab-group
    style="width: 100%;"
    dynamicHeight
    [selectedIndex]="1"
    (selectedIndexChange)="volver($event)"
  >
    <mat-tab>
      <ng-template mat-tab-label style="width: 50%;">volver</ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label style="width: 50%;">Proyecto</ng-template>
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-content *ngIf="reporte">
            <div
              fxLayout="row wrap"
              fxLayoutGap="8px grid"
              layout-align="center center"
              style="margin-bottom: 10px; align-content: middle;"
            >
              <div
                fxFlex="100"
                fxFlex.lt-sm="100"
                style="text-align: right;"
                layout-align="center end"
              >
                <h3 style="font-size: 18px; text-transform: uppercase; margin: 1px 1px 9px 1px;">
                  RESUMEN GENERAL DE PROYECTO
                </h3>
                Fecha de creación: {{ fecha }} <br />
                <a
                  target="_blank"
                  mat-icon-button
                  href="{{ url }}/api/reportes/cargarResumenGeneralProyecto/{{ plan }}/{{
                    proyecto
                  }}?token={{ token }}"
                  matTooltip="Descargar Reporte"
                >
                  <mat-icon>print</mat-icon>
                </a>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="8px grid">
              <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
              <div
                fxFlex="100"
                fxFlex.lt-sm="100"
                class="border-tabl-tittle"
                style="text-align: center;"
              >
                <b>Información del proyecto</b>
              </div>
              <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="8px grid">
              <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                <b>Nombre</b>
              </div>
              <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                {{ reporte.nombre }}
              </div>
              <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                <b>descripción</b>
              </div>
              <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                {{ reporte.descripcion }}
              </div>
              <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                <b>programas</b>
              </div>
              <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                {{ reporte.programas }}
              </div>
              <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                <b>Eje</b>
              </div>
              <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                {{ reporte.eje }}
              </div>
              <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                <b>Línea</b>
              </div>
              <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                {{ reporte.linea }}
              </div>
              <div fxFlex="40" fxFlex.lt-sm="100" class="border-table bottom">
                <b>Porcentaje de avance</b>
              </div>
              <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2 bottom">
                {{ reporte.porcentaje_cumplimiento }}
              </div>
              <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="8px grid">
              <div
                fxFlex="100"
                fxFlex.lt-sm="100"
                class="border-tabl-tittle"
                style="text-align: center;"
              >
                <b>Actividades</b>
              </div>
              <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
            </div>

            <div
              fxLayout="row wrap"
              fxLayoutGap="grid"
              *ngFor="let actividad of reporte.actividades"
            >
              <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                <b>Nombre</b>
              </div>
              <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                {{ actividad.nombre }}
              </div>
              <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                <b>Peso</b>
              </div>
              <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                {{ actividad.peso }}
              </div>
              <div
                fxFlex="100"
                fxFlex.lt-sm="100"
                class="border-table"
                style="text-align: center;  border-right: 1px solid black; "
              >
                <b>Seguimiento</b>
              </div>
              <div fxFlex="40" fxFlex.lt-sm="100" class="border-table" style="text-align: center; ">
                <b>Periodo</b>
              </div>
              <div
                fxFlex="60"
                fxFlex.lt-sm="100"
                class="border-table"
                style="text-align: center;  border-right: 1px solid black; "
              >
                <b>Valoracion</b>
              </div>
              <div fxFlex="100" fxFlex.lt-sm="100" class="border-table-3 bottom">
                <div
                  fxLayout="row wrap"
                  fxLayoutGap="grid"
                  *ngFor="let seguimiento of actividad.seguimientos"
                >
                  <div
                    fxFlex="40"
                    fxFlex.lt-sm="100"
                    class="border-table-4"
                    style="text-align: center;"
                  >
                    <b>{{ seguimiento.periodo }}</b>
                  </div>
                  <div
                    fxFlex="60"
                    fxFlex.lt-sm="100"
                    class="border-table-5"
                    style="text-align: center;"
                  >
                    {{ seguimiento.valoracion }}
                  </div>
                </div>
              </div>

              <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
