.border-table {
  background: lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 2px !important;
  min-height: 25px !important;
  vertical-align: middle !important;
  font-size: 15px;
}

.border-table-2 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px !important;
  min-height: 25px !important;
  vertical-align: middle !important;
  font-size: 15px;
}

.border-table-3 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  min-height: 25px !important;
  vertical-align: middle !important;
  font-size: 15px;
}

.border-table-4 {
  border-top: 1px solid black;
  padding: 2px !important;
  min-height: 25px !important;
  vertical-align: middle !important;
  font-size: 15px;
}

.border-table-5 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 2px !important;
  min-height: 25px !important;
  vertical-align: middle !important;
  font-size: 15px;
}

.border-tabl-tittle {
  background: lightgray;
  border: 1px solid black;
  padding: 2px !important;
  min-height: 25px !important;
  vertical-align: middle !important;
  font-size: 15px;
}

.bottom {
  border-bottom: 1px solid black;
}
