/* You can add global styles to this file, and also import other style files */
@import 'styles/app';

.tr:hover {
  background: rgb(236, 38, 38);
}

tr[_ngcontent-bqq-c8]:hover {
  background: rgba(247, 28, 28, .336) !important;
}

.paginate_button:hover {
  background: rgba(247, 28, 28, .336) !important;
  border: 0 !important;
}

.current {
  background: rgba(247, 28, 28, .336) !important;
  border: 0 !important;
}

.snackbarsusses {
  background: #00c853;
  text-align: center;
  color: white;
}

.snackbarfail {
  background: rgb(236, 38, 38);
  text-align: center;
  color: white;
}

.mat-simple-snackbar {
  text-align: center !important;
  display: block !important;
}

.customizer-handle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;

  [dir='rtl'] & {
    left: 30px;
    right: auto;
  }
}

.mat-card {
  margin-bottom: 0 !important;
}

.error {
  vertical-align: middle;
  background: #f44336;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 1px;
}

@media (max-width: 1000px) {
  .mat-card-content {
    overflow-x: scroll !important;
  }

  .matero-sidenav .matero-sidebar-inner::-webkit-scrollbar {
    width: 0 !important;
  }

  .mat-dialog-content::-webkit-scrollbar {
    width: 0 !important;
  }

  .mat-card-content::-webkit-scrollbar {
    overflow-x: scroll !important;
  }
}

.matero-sidenav .matero-sidebar-inner {
  overflow: hidden !important;
  overflow-y: scroll !important;
}

td {
  text-transform: lowercase;
}

td::first-letter {
  text-transform: uppercase;
}

table {
  table-layout: fixed;
}

table td {
  word-wrap: break-word;
  max-width: 230px;
}

#grid td {
  white-space: inherit;
}

.mat-option[aria-disabled='true'] {
  color: black;
}

.mat-input-element:disabled {
  color: black !important;
}
.mat-select-disabled .mat-select-value{
  color: black !important;
}

mat-card {
  border-top: 2px solid #f4a236;
}

.mat-tab-body mat-card {
  margin-top: 20px;
  border-top: 2px solid #f4a236;
}

.mat-raised-button.mat-primary {
  font-size: 12px !important;
  font-weight: 300 !important;
  color: #f44336 !important;
  border: 1px solid #f44336 !important;
  background-color: transparent !important;
  border-radius: 5px !important;
  text-align: center !important;
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  width: 200px !important;
}

.mat-raised-button.mat-primary[disabled] {
  font-size: 12px !important;
  font-weight: 300 !important;
  color: #d18781 !important;
  border: 1px solid #d18781 !important;
  background-color: transparent !important;
  border-radius: 5px !important;
  text-align: center !important;
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  width: 200px !important;
}

.mat-raised-button.mat-primary.botonLogin {
  background-color: #f44336 !important;
  color: white !important;
}

.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-color: rgba(0, 0, 0, .42) !important;
  background-image: none;
}

.verArchivo {
  font-size: 12px;
  font-weight: 300;
  color: #f44336;
  border: 1px solid #ec2112;
  background-color: transparent !important;
  border-radius: 5px;
  padding: 9px 10px !important;
  text-align: center;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 200px !important;
}

.matero-sidenav .matero-sidebar-inner::-webkit-scrollbar {
  width: 0 !important;
}

.mat-dialog-content::-webkit-scrollbar {
  width: 0 !important;
}

.ck-editor__editable_inline {
  min-height: 200px;
  max-height: 150px;
}
// .mat-drawer-content::-webkit-scrollbar {
//   width: 0 !important;
// }
