<div class="w-full h-full" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card
    class="mat-elevation-z4 m-b-0"
    style="max-width: 380px; padding-bottom: 0px !important;"
  >
    <mat-card-title class="text-center m-b-24" color="primary">SEPLAC</mat-card-title>
    <mat-card-content>
      <div *ngIf="!credenciales" fxLayout="row wrap" fxLayoutGap="grid" class="error">
        <div fxFlex="80" fxFlex.lt-sm="90">
          <p style="margin-top: 10px; margin-bottom: 10px;">Credenciales invalida</p>
        </div>
        <div fxFlex="20" fxFlex.lt-sm="10">
          <button mat-icon-button (click)="cerrarErrorCredenciales()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
      <div></div>
      <form class="matero-form-horizontal" [formGroup]="reactiveForm" style="margin-top: 15px;">
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Correo" formControlName="email" type="email" required />
          <mat-error *ngIf="reactiveForm.get('email').invalid"
            >Por favor ingresa el correo</mat-error
          >
        </mat-form-field>

        <mat-form-field *ngIf="modo == '3' || modo == '1'" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            placeholder="Contraseña"
            type="password"
            formControlName="password"
            required
          />
          <mat-error *ngIf="reactiveForm.get('password').invalid"
            >Por favor ingresa la contraseña</mat-error
          >
        </mat-form-field>

        <mat-form-field *ngIf="modo == '3'" appearance="outline">
          <mat-label>Nueva Contraseña</mat-label>
          <input
            matInput
            placeholder="Nueva Contraseña"
            type="password"
            formControlName="newPassword"
            required
          />
          <mat-error *ngIf="reactiveForm.get('newPassword').invalid"
            >Por favor ingresa la nueva contraseña</mat-error
          >
        </mat-form-field>

        <mat-form-field *ngIf="modo == '2'" appearance="outline">
          <mat-label>Código</mat-label>
          <input matInput placeholder="Código" type="text" formControlName="codigo" required />
          <mat-error *ngIf="reactiveForm.get('codigo').invalid"
            >Por favor ingresa su código</mat-error
          >
        </mat-form-field>
        <div style="text-align: center;">
          <button
            mat-raised-button
            color="primary"
            class="w-ful botonLogin"
            style="margin-top: 15px;"
            (click)="onSubmit()"
            [disabled]="iniciar"
          >
            {{
              modo == '2'
                ? 'Recuperar contraseña'
                : modo == '3'
                ? 'Cambiar Contraseña'
                : 'Iniciar Sesión'
            }}
          </button>
        </div>
      </form>
      <div style="text-align: center; margin-top: 15px;">
        <button
          mat-button
          color="Deep-Purple"
          *ngIf="modo == '1'"
          (click)="cambiarModo(2)"
          style="font-size: 12px !important;"
        >
          ¿Ha olvidado su contraseña?
        </button>
        <button
          mat-button
          color="Deep-Purple"
          *ngIf="modo == '2'"
          (click)="cambiarModo(1)"
          style="font-size: 12px !important;"
        >
          Ya tengo una cuenta
        </button>
        <button
          mat-button
          color="Deep-Purple"
          *ngIf="modo == '3'"
          (click)="cambiarModo(1)"
          style="font-size: 12px !important;"
        >
          Volver al login
        </button>
      </div>

      <!-- <div class="m-t-16">
          Don't have an account? <a routerLink="/auth/register">Click here to create one</a>
        </div>-->
    </mat-card-content>
  </mat-card>
</div>
