<nav aria-label="breadcrumb">
  <ol class="matero-breadcrumb">
    <li class="matero-breadcrumb-item"
        *ngFor="let item of routeNames; first as isFirst; last as isLast">
      <a [routerLink]="['/dashdoard']" class="link" *ngIf="isFirst">{{item}}</a>
      <ng-container *ngIf="item!='Dashboard' &&  !isFirst">
        <mat-icon class="chevron">chevron_right</mat-icon>
        <span class="link">{{item}}</span>
      </ng-container>
    </li>
  </ol>
</nav>
