<page-header [title]="title"></page-header>

<div fxLayout="row wrap" class="matero-row">
  <mat-tab-group
    style="width: 100%;"
    dynamicHeight
    [selectedIndex]="1"
    (selectedIndexChange)="volver()"
  >
    <mat-tab>
      <ng-template mat-tab-label style="width: 50%;">volver</ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label style="width: 50%;">Plan</ng-template>
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-card>
          <mat-card-content *ngIf="reporte">
            <div
              fxLayout="row wrap"
              fxLayoutGap="8px grid"
              layout-align="center center"
              style="margin-bottom: 10px; align-content: middle;"
            >
              <div fxFlex="30" fxFlex.lt-sm="100" layout-align="center end">
                <mat-form-field
                  style="padding-left: 15px !important;padding-right: 15px !important; padding-top: 25px;"
                >
                  <mat-label>Periodo</mat-label>
                  <mat-select [(ngModel)]="periodo" (selectionChange)="llenarReporte()" required>
                    <mat-option *ngFor="let periodo of periodosSeleccionar" [value]="periodo">
                      {{ periodo }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex="30" fxFlex.lt-sm="100" layout-align="center end">
                <mat-form-field
                  style="padding-left: 15px !important;padding-right: 15px !important; padding-top: 25px;"
                >
                  <mat-label>Eje</mat-label>
                  <mat-select [(ngModel)]="idEje" (selectionChange)="llenarReporte()" required>
                    <mat-option disable value="sinFiltro"> Todos</mat-option>
                    <mat-option *ngFor="let eje of ejes" [value]="eje.id">
                      {{ eje.nombre }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div
                fxFlex="40"
                fxFlex.lt-sm="100"
                style="text-align: right;"
                layout-align="center end"
              >
                <h3 style="font-size: 18px; text-transform: uppercase; margin: 1px 1px 9px 1px;">
                  RESUMEN GENERAL PLAN DE ACCIÓN
                </h3>
                Fecha de creación: {{ fecha }} <br />
                periodo de evaluación: {{ periodo }}<br />
                <a
                  *ngIf="idEje == 'sinFiltro'"
                  target="_blank"
                  mat-icon-button
                  href="{{ url }}/api/reportes/resumenPlanPeriodoPrograma/{{ plan }}/{{
                    periodo
                  }}?token={{ token }}"
                  matTooltip="Descargar Reporte"
                >
                  <mat-icon>print</mat-icon>
                </a>
                <a
                  *ngIf="idEje != 'sinFiltro'"
                  target="_blank"
                  mat-icon-button
                  href="{{ url }}/api/reportes/cargarReportePeriodoEje/{{ plan }}/{{ idEje }}/{{
                    periodo
                  }}?token={{ token }}"
                  matTooltip="Descargar Reporte"
                >
                  <mat-icon>print</mat-icon>
                </a>
              </div>
            </div>
            <div>
              <div fxLayout="row wrap" fxLayoutGap="8px grid" *ngIf="idEje != 'sinFiltro'">
                <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
                <div
                  fxFlex="100"
                  fxFlex.lt-sm="100"
                  class="border-tabl-tittle"
                  style="text-align: center;"
                >
                  <b>Información del eje</b>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
              </div>

              <div
                fxLayout="row wrap"
                fxLayoutGap="8px grid"
                style="margin-top: 15px;"
                *ngIf="idEje != 'sinFiltro'"
              >
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                  <b> Nombre</b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                  {{ reporte.plan.proyectos[0].eje }}
                </div>
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table bottom">
                  <b>Avance </b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2 bottom">
                  {{ reporte.plan.porcentaje }}
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
              </div>

              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
                <div
                  fxFlex="100"
                  fxFlex.lt-sm="100"
                  class="border-tabl-tittle"
                  style="text-align: center;"
                >
                  <b>Información del plan</b>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
              </div>

              <div fxLayout="row wrap" fxLayoutGap="8px grid" style="margin-top: 15px;">
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                  <b>Programa académico</b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                  {{ reporte.plan.programa_academico }}
                </div>
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                  <b>Director del programa</b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                  {{ reporte.plan.director }}
                </div>
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                  <b>Nombre del plan </b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                  {{ reporte.plan.nombre }}
                </div>
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table bottom">
                  <b>Vigencia </b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2 bottom">
                  {{ reporte.plan.vigencia }}
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
              </div>
              <div fxLayout="row wrap" fxLayoutGap="8px grid">
                <div
                  fxFlex="100"
                  fxFlex.lt-sm="100"
                  class="border-tabl-tittle"
                  style="text-align: center;"
                >
                  <b>Proyectos</b>
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
              </div>

              <div
                fxLayout="row wrap"
                fxLayoutGap="8px grid"
                *ngFor="let proyecto of reporte.plan.proyectos"
              >
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                  <b>Nombre</b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                  {{ proyecto.nombre }}
                </div>
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                  <b>descripción</b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                  {{ proyecto.descripcion }}
                </div>
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                  <b>programas</b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                  {{ proyecto.programas }}
                </div>
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                  <b>Eje</b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                  {{ proyecto.eje }}
                </div>
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table">
                  <b>Línea</b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2">
                  {{ proyecto.linea }}
                </div>
                <div fxFlex="40" fxFlex.lt-sm="100" class="border-table bottom">
                  <b>Porcentaje de avance</b>
                </div>
                <div fxFlex="60" fxFlex.lt-sm="100" class="border-table-2 bottom">
                  {{ proyecto.procentaje_avance }}
                </div>
                <div fxFlex="100" fxFlex.lt-sm="100" style="height: 20px;"></div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
